<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Profile</title>
</head>
<body>
    <h1>Git Profile</h1>

    <form method="get" action="">
        
        <label for="username">Enter GitHub Username:</label>
        <input type="text" name="username" required>
        <button type="submit">Fetch Profile</button>
    </form>

    {% if user_profile %}
        <h2>{{ user_profile.username }}</h2>
        <img src="{{ user_profile.avatar_url }}" alt="{{ user_profile.username }}">

        <h3>Repositories:</h3>
        <form method="get" action="" id="reposPerPageForm">
            <label for="repos_per_page">Repositories per page:</label>
            <select name="repos_per_page" onchange="submitForm()">
                <option value="10" {% if request.GET.repos_per_page == '10' %}selected{% endif %}>10</option>
                <option value="20" {% if request.GET.repos_per_page == '20' %}selected{% endif %}>20</option>
                <option value="50" {% if request.GET.repos_per_page == '50' %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.repos_per_page == '100' %}selected{% endif %}>100</option>
            </select>
        </form>
        <script>
            function submitForm() {
                document.getElementById('reposPerPageForm').submit();
            }
        </script>

        {% for repo in user_profile.repositories.all %}
            <div>
                <h2>{{ repo.name }}</h2>
                <p>{{ repo.description|default:"No description available" }}</p>
                <p>Topics: {% for topic in repo.topics.all %}{{ topic.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <a href="{{ repo.html_url }}" target="_blank" rel="noopener noreferrer">View on GitHub</a>
            </div>
        {% endfor %}

        <!-- Add pagination links -->
        

    {% endif %}
</body>
</html>
